/**Estilos gerais**/
* {
    font-family: 'Calibri', sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: bold;
    color: blueviolet;
}

h4, h5, h6 {
    font-weight: normal;
}

li {
    line-height: 1.6;
}

.main-section header {
    font-size: 32px;
    font-weight: bold;
    color: blueviolet;
}

#main-doc {
    margin-left: 230px;
    margin-right: 100px;
}

/**Para as tabelas**/
table {
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 3px;
    text-align: left;
    display: block;
}

.infotable thead th{
    background-color: rgb(44, 2, 57) !important;
}

.infotable th, td {
    padding: 12px;
    border: 1px solid white;
}

.infotable tr:nth-child(even) {
    background-color: rgb(55, 55, 55) ;
}

.infotable tr:nth-child(odd) {
    background-color: rgb(35, 35, 35);
}

.exemplos {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1000px;
    max-width: 1000px;
}

.exemplos .celula-personagem {
    text-align: center;
    font-weight: bold;
    color: rgb(150, 66, 228);
    width: 190px;
}

.exemplos .celula-personagem a {
    color: inherit;
    text-decoration: none;
}

.exemplos .celula-personagem img {
    width: 128px;
    height: 128px;
}

.exemplos .exemplo-texto {
    font-size: 20px;
    width: 780px;
} 

/**Para a navbar**/
.navbar-container {
    margin-left: -20px;
    margin-top: -23px;
    width: 220px;
    height: 3000px;
    background-color: rgb(40, 10, 68);
    font-size: 20px;
    border: 2px solid rgb(150, 66, 228);
    position: fixed;
}

#navbar {
    position: fixed;
    margin-left: 25px;
    margin-top: 20px;
    color: white;
}

#navbar a {
    color: white;
    display: block;
    margin-bottom: 14px;
    width: 200px;
    height: inherit;
    text-decoration: none;
}

#navbar header {
    display: block;
    margin-bottom: 7px;
    margin-top: 0px;
    font-size: 32px;
    font-weight: bold;
}

/**container responsivo**/
.containerDB {
    width: 600px;
    height: 90px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    gap: 20px;
}

.containerDB #database-link-ref{
    border-radius: 18px;
    text-align: center;

    width: 600px;
    height: 90px;

    background-color: rgba(198, 136, 255, 0.316);
}

.containerDB #database-link-ref h2 {
    padding: 10px;
}

.containerDB #keqing-flowers {
    padding: 20px;
}

/**Keqing no canto**/
#cornerKeqing {
    width: 96px;
    height: 96px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: block;
}

#cornerKeqing #mouse-hover-ckq {
    display: none;
}

#cornerKeqing:hover #mouse-hover-ckq {
    width: max-content;
    height: 16px;
    margin-left: -130%;
    margin-top: -130%;
    display: block;
}

#best-shrine-maiden {
    width: 64px;
    height: 64px;
    align-items: center;
    display: block;
    margin-left: 555px;
    margin-right: 300px;
    margin-bottom: -20px;
}


@media (max-height: 600px) {
    .main-section {
        font-size: .7em;
    }
};